:root {
  --background: oklch(0.99 0.00 0); /*neutral-50*/
  --foreground: oklch(0.20 0.00 0); /*neutral-900*/

  --card: oklch(0.99 0.00 0); /*neutral-50*/
  --card-foreground: oklch(0.20 0.00 0); /*neutral-900*/

  --popover: oklch(0.99 0.00 0); /*neutral-50*/
  --popover-foreground: oklch(0.20 0.00 0); /*neutral-900*/

  --primary: oklch(0.49 0.24 293); /*violet-700*/
  --primary-foreground: oklch(1.0 0 0);

  --secondary: oklch(0.95 0.03 307); /*purple-100*/
  --secondary-foreground: oklch(0.28 0.14 291); /*violet-950*/

  --muted: oklch(0.94 0.01 74.42);
  --muted-foreground: oklch(0.44 0.00 0); /*neutral-600*/

  --accent: oklch(0.83 0.11 306); /*purple-300*/
  --accent-foreground: oklch(0.28 0.14 291); /*violet-950*/

  --destructive: oklch(0.58 0.22 27); /*red-600*/
  --destructive-foreground: oklch(1.0 0 0);

  --border: oklch(0.87 0.00 0); /*neutral-300*/
  --input: oklch(0.87 0.00 0); /*neutral-300*/
  --ring: oklch(0.49 0.24 293); /*violet-700*/

  --chart-1: oklch(0.81 0.10 294);
  --chart-2: oklch(0.61 0.22 293);
  --chart-3: oklch(0.49 0.24 293); /*300, 500, violet-700, 900, 950*/
  --chart-4: oklch(0.38 0.18 294);
  --chart-5: oklch(0.28 0.14 291);

  --sidebar: oklch(0.99 0.00 0); /*neutral-50*/
  --sidebar-foreground: oklch(0.20 0.00 0); /*neutral-900*/
  --sidebar-primary: oklch(0.49 0.24 293); /*violet-700*/
  --sidebar-primary-foreground: oklch(1.0 0 0);
  --sidebar-accent: oklch(0.83 0.11 306); /*purple-300*/
  --sidebar-accent-foreground: oklch(0.28 0.14 291); /*violet-950*/
  --sidebar-border: oklch(0.87 0.00 0); /*neutral-300*/
  --sidebar-ring: oklch(0.49 0.24 293); /*violet-700*/

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px
    hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.15 0.01 74.42);
  --foreground: oklch(0.95 0.02 80.72);

  --card: oklch(0.12 0.01 80.72);
  --card-foreground: oklch(0.95 0.02 80.72);

  --popover: oklch(0.12 0.01 80.72);
  --popover-foreground: oklch(0.95 0.02 80.72);

  --primary: oklch(0.58 0.15 144.17);
  --primary-foreground: oklch(0.09 0.01 80.72);

  --secondary: oklch(0.15 0.02 147.64);
  --secondary-foreground: oklch(0.65 0.12 144.31);

  --muted: oklch(0.18 0.01 74.42);
  --muted-foreground: oklch(0.65 0.03 74.42);

  --accent: oklch(0.22 0.04 146.04);
  --accent-foreground: oklch(0.65 0.12 144.31);

  --destructive: oklch(0.62 0.22 26.72);
  --destructive-foreground: oklch(0.95 0.02 80.72);

  --border: oklch(0.22 0.02 74.64);
  --input: oklch(0.22 0.02 74.64);
  --ring: oklch(0.58 0.15 144.17);

  --chart-1: oklch(0.72 0.16 144.21);
  --chart-2: oklch(0.63 0.14 144.18);
  --chart-3: oklch(0.58 0.15 144.17);
  --chart-4: oklch(0.48 0.12 144.31);
  --chart-5: oklch(0.35 0.08 145.73);

  --sidebar: oklch(0.15 0.01 74.42);
  --sidebar-foreground: oklch(0.95 0.02 80.72);
  --sidebar-primary: oklch(0.58 0.15 144.17);
  --sidebar-primary-foreground: oklch(0.09 0.01 80.72);
  --sidebar-accent: oklch(0.22 0.04 146.04);
  --sidebar-accent-foreground: oklch(0.65 0.12 144.31);
  --sidebar-border: oklch(0.22 0.02 74.64);
  --sidebar-ring: oklch(0.58 0.15 144.17);

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px
    hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
